/Windows/VisualStudio/.vs/
/Windows/VisualStudio/Build-quakespasm-sdl2/
/Windows/VisualStudio/history.txt
/Windows/VisualStudio/*.user
/Windows/VisualStudio/id1/
/Windows/VisualStudio/Backup/
Windows/VisualStudio/UpgradeLog.htm
